
 <form [formGroup]="Employeeobj.formEmployeeGroup">
 <table>
      <tr>
          <td> Employee Name :-</td>
          <td><input formControlName="namecontrol" type="text" [(ngModel)]="Employeeobj.name" value=""  placeholder="Enter Name"></td>
          <div *ngIf="Employeeobj.formEmployeeGroup.dirty"[hidden]="!(Employeeobj.formEmployeeGroup.controls['namecontrol'].hasError('required'))">Employee Name is required</div>  
        </tr>
      <tr>
          <td> Employee ID     :-</td>
          <td>  <input formControlName="idcontrol" type="number" [(ngModel)]="Employeeobj.id" value="" placeholder="Enter ID"></td>
          <div *ngIf="Employeeobj.formEmployeeGroup.dirty" [hidden]="!(Employeeobj.formEmployeeGroup.controls['idcontrol'].hasError('required'))">Employee ID is required</div>
         <div *ngIf="Employeeobj.formEmployeeGroup.dirty"[hidden]="!(Employeeobj.formEmployeeGroup.controls['idcontrol'].hasError('pattern'))">Employee ID is not proper format </div> 
          
        </tr>

        <tr>
          <td> Address :-</td>
          <td>  <input formControlName="addresscontrol" type="text" [(ngModel)]="employeeAddress.address" value="" name="address" placeholder=""></td>
          <div *ngIf="Employeeobj.formEmployeeGroup.dirty" [hidden]="!(Employeeobj.formEmployeeGroup.controls['addresscontrol'].hasError('required'))">Address ID is required</div>
          <td><input  id="Button1"  type="button" (click)="AddAddress()" value="Add Address" /></td>
          
        </tr>

      <tr>
          <td><input  id="Button1"   type="button" (click)="Submit()" value="Add Submit" /></td>
      </tr><!--- [disabled]="!(Employeeobj.formEmployeeGroup.valid)"-->

      <tr>
         
      </tr>
  </table>
 </form>



 <table border="4">
  <tr>
    <td>Address</td>
  </tr>
  <tr   *ngFor="let address of Employeeobj.employeeAddresses">
  
  <td>{{address.address}}</td>
</tr>

</table> 

 

<!-- <mat-table [dataSource]="Employeeobjs" class="mat-elevation-z8">
    EmployeeID Column
    <ng-container matColumnDef="id">
      <mat-header-row *matHeaderRowDef> EmployeeID </mat-header-row>
      <mat-row *matRowDef="let element"> {{element.id}} </mat-row>
    </ng-container>
  
    name Column
    <ng-container matColumnDef="name">
      <mat-header-row *matHeaderRowDef> EmployeeName </mat-header-row>
      <mat-row *matRowDef="let element"> {{element.name}} </mat-row>
    </ng-container>
  
     address Column
    <ng-container matColumnDef="address">
      <mat-header-row *matHeaderRowDef>Address </mat-header-row>
      <mat-row *matRowDef="let element"> {{element.address}} </mat-row>
    </ng-container>
  
    columnsToDisplay = ['id','name', 'address'];<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </mat-table>  -->


 
  

      <table border="4">
          <tr>
            <td>EmployeeID</td> 
            <td>EmployeeName</td>
            <td>Address</td>
          </tr>
          <tr   *ngFor="let c of Employeeobjs">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
          <td>{{c.address}}</td>
        </tr>
      
      </table> 
     