
  <table>
      <tr>
          <td> Employee Name :-</td>
          <td><input type="text" [(ngModel)]="Employeeobj.name" value="" /></td>
      </tr>
      <tr>
          <td> Employee ID     :-</td>
          <td>  <input type="number" [(ngModel)]="Employeeobj.id" value="" /></td>
      </tr>
      <tr>
          <td><input id="Button1" type="button" (click)="Submit()" value="Add Submit" /></td>
      </tr>

      <tr>
         
      </tr>
  </table>
      <table border="1">
          <tr>
              <td>EmployeeName</td>
              <td>EmployeeID</td>
          </tr>
        
      </table>
